<% extend("_base/layout") %>

<section data-poll-id="<%= poll.id %>">
	<h1 data-poll-question="<%= poll.question %>"><%= poll.question %></h1>
	<p>Totaal: <%= poll.votes %> stemmen</p>
	<ul class="results">
		<% poll.answers.map(answer => { %>
			<li data-answer="<%= answer.name %>">
				<h2 data-answer="<%= answer.name %>"><%= answer.name %></h2>
				<meter data-meter data-answer="<%= answer.name %>" max="<%= poll.votes %>" value="<%= answer.votes %>">
					<div class="meter">
						<div class="meter__fill" data-answer="<%= answer.name %>" style="width: <%= answer.votes / poll.votes * 100 %>%"></div>
					</div>
				</meter>
				<p data-votes data-answer="<%= answer.name %>"><%= answer.votes %> stemmen
					<span>(<%= (answer.votes / poll.votes * 100).toFixed() %>%)</span>
				</p>
			</li>
		<% }); %>
	</ul>
	<a href="/polls/get/<%= poll.id %>">Stem</a>
</section>
